<mat-grid-list cols="4" rowHeight="2:1" gutterSize="40px">
    <mat-grid-tile [routerLink]="['department']" >Department </mat-grid-tile>
    <mat-grid-tile  [routerLink]="['designation']" >Designation</mat-grid-tile>
    <mat-grid-tile [routerLink]="['specialization']">Specialization</mat-grid-tile>
    <mat-grid-tile [routerLink]="['consultant']">Consultant</mat-grid-tile>
    <mat-grid-tile [routerLink]="['ward']">Ward</mat-grid-tile>
    <mat-grid-tile [routerLink]="['roombad']">Room/Bed</mat-grid-tile>
    <mat-grid-tile [routerLink]="['service-group']">Service Group</mat-grid-tile>
    <mat-grid-tile [routerLink]="['service']">Service</mat-grid-tile>
    <mat-grid-tile [routerLink]="['hosptal-setup']">Hospital Setup</mat-grid-tile>
    <mat-grid-tile [routerLink]="['user']">User</mat-grid-tile>
  </mat-grid-list>
  <router-outlet></router-outlet>
