

    <section>
        <div class="m-3">
            <h4 class="modal-title">Add/Edit Ward</h4>
        </div>
        <hr>
        <form [formGroup]="ward" (ngSubmit)="saveWard()">
    <div class="w-11/12 m-2 p-3">
        <label for="exampleFormControlInput1" class="form-label">Ward Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="ward" >
    </div>
    
    <hr>
    <div class=" w-100 gap-2 d-flex justify-content-end p-2">
        <button mat-dialog-close class="btn btn-white"  >Close</button>
        <button type="submit" class="btn btn-success"  >Submit</button>
    </div>

</form>
</section>
















