<button  (click)="openDialog()" class="btn btn-sm btn-primary">Add Service Group</button>
<!-- <ngx-spinner type="square-loader"></ngx-spinner> -->
<ngx-spinner bdColor = "rgba(0, 0, 0, .4)" size = "default" color = "black" type = "square-loader" [fullScreen] = "true"><p style="color: rgb(8, 1, 1)" >  </p></ngx-spinner>
<div class="m-4">
<div class="table-heading">Service Group List</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="servicename">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.servicename}} </td>
  </ng-container>
  <ng-container matColumnDef="servicetype">
    <th mat-header-cell *matHeaderCellDef> Service Type </th>
    <td mat-cell *matCellDef="let element"> {{element.servicetype}} </td>
  </ng-container>
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>Action </th>
    <td mat-cell *matCellDef="let element"> 
      <button class="btn" (click)="edit(element)">Edit</button> 
      <button class="btn" (click)="delete(element.name,element.id)">Delete</button> 
     </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>


